<% include ./partials/boilerplate %>

<div class="favorites-container">

    
	
	<% for (let recipes of data) { %>		
		<h1 class="title-result"><%= recipes.title %></h1>
		<div class="favorites-subcont">
		<div class="favorite-info">
			<img class="img-result" src="<%= recipes.img %>" />		
			<a class="link-result" href="<%= recipes.link %>">More Info</a>
			<p class="info"><%= recipes.health %></p>
			<p class="info"><%= recipes.diet %></p>
			<p class="info"><%= recipes.calories %></p>
			<p class="info"><%= recipes.servings %></p>
		</div>
		<div class="ingredients">
			<ul>
				<% var ingredient = recipes.ingredient.split("~") %>
				<% for(let i = 0; i < ingredient.length; i ++) { %>
					<li class="info"><%= ingredient[i] %></li>
				<% } %>
			</ul>
			<form class="delete" action="/favorite_recipes/<%= recipes.id %>?_method=DELETE" method="POST">
				<button class="nav-button" type="submit">Remove</button>
			</form>


		</div>
		</div>



    <% }  %>

<% include ./partials/end %>