<% include ./partials/boilerplate %>

<div class="favorites-container">

    
	
	<% for (let recipes of data) { %>	
		<h1 class="recipe-name"><%= recipes.title %></h1>
		<div class="favorites-subcont">
		<div class="favorite-info">
			<img class="img-result" src="<%= recipes.img %>" />		
			<a class="recipe-link" href="<%= recipes.link %>">More Info</a>
			<p class="recipe-health"><%= recipes.health %></p>
			<p class="recipe-diet">Diet-Label:  <%= recipes.diet %></p>			
			<p class="recipe-servings">Servings:  <%= recipes.servings %></p>
			<p class="recipe-calories">Calories per Serving:  <%= recipes.calories %></p>
		</div>
		<div class="ingredients">
			<h5 class="ingredients-header">Ingredients:</h5>
			<ul>
				<% var ingredient = recipes.ingredient.split("~") %>
				<% for(let i = 0; i < ingredient.length; i ++) { %>
					<li class="info"><%= ingredient[i] %></li>
				<% } %>
			</ul>
			<form class="delete" action="/favorite_recipes/<%= recipes.id %>?_method=DELETE" method="POST">
				<button class="nav-link" type="submit">Remove</button>
			</form>


		</div>
		</div>



    <% }  %>

<% include ./partials/end %>